{cover_enabled,true}.

{cover_export_enabled,true}.

{cover_print_enabled,true}.

{deps,[]}.

{deps_dir,"deps"}.

{edoc_opts,[{dir,"DOC"},{todo,true},{preprocess,true},{includes,[".","deps"]}]}.

{erl_opts,[debug_info]}.

{eunit_opts,[verbose,{report,{eunit_surefire,[{dir,"."}]}}]}.

{xref_checks,[undefined_function_calls]}.
